/*  your css code here. If applicable */
:root{
	background-color:lightgray;
}
.heading{
	text-align:center;
}
.container{
	background-color:white;
	
}
.playlist{
	list-style-type:none;
	text-decoration-line:none;
}